:root {
  --accent: #38bdf8;
  --bg-dark: #020617;
  --bg-card: #020617;
}

body {
  font-family: 'Inter', sans-serif;
}

/* HERO */
.hero {
  height: 100vh;
  background: radial-gradient(circle at top, #166df056, #000);
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(#0d6efd22 1px, transparent 1px), linear-gradient(90deg, #0d6efd22 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.15;
}

.hero-title {
  font-family: "Press Start 2P", monospace;
  font-size: 3rem;
  position: relative;
  animation: glitch 2.5s infinite;
}
.glich {
  font-family: "Press Start 2P", monospace;
  font-size: 1.5rem;
  position: relative;
}

@keyframes glitch {
  0% { text-shadow: 3px 3px #940000; }
  20% { text-shadow: -3px -3px #1027f2; }
  40% { text-shadow: 2px -2px #b00df0; }
  60% { text-shadow: -2px 2px #008834; }
  100% { text-shadow: 2px 2px #0dcaf0; }
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #004ccf;
}
/* SEÇÕES */
.section-title {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--accent);
  margin-bottom: 1rem;
}

.section-text {
  max-width: 600px;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: .6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


/* SKILLS */
.skill {
  background: #111;
  border: 1px solid #0dcaf0;
  color: #0dcaf0;
  padding: 8px 12px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.skill:hover {
  background: #0dcaf0;
  color: #000;
  box-shadow: 0 0 15px #0dcaf0;
  transform: translateY(-3px);
}
/* PROJETOS */
.project-card {
  background: #0b0b0b;
  border: 1px solid #ffffff10;
  border-radius: 16px;
  padding: 20px;
  transition: transform .3s, box-shadow .3s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px #0d6efd33;
}

/* FOOTER */
.footer {
  position: relative;
}